# User specific aliases and functions
alias ls="ls -ahFG --color=auto --group-directories-first"
alias python='python3'
alias ga="git add -A"
alias gs="git status"
alias gc="git commit"
alias gd='git diff'
alias gl='git log --graph --decorate --oneline'
alias grep="grep --color=auto"
alias ll="ls -lah"
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias bat='upower -i /org/freedesktop/UPower/devices/battery_BAT0| grep -E "state|to\ full|percentage"'
alias open="xdg-open"
alias v=vim
alias rm=trash
alias chromium-browser="chromium-browser --remote-debugging-port=9222 --user-data-dir=remote-profile"

# Journalctl aliases
alias log='journalctl -fu'
alias spy='journalctl -ru'

# Systemctl aliases
alias restart='systemctl restart'
alias start='systemctl start'
alias sctl='systemctl'
alias status='systemctl -l status'
alias stop='systemctl stop'

# git dotfile migration
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# https://xkcd.com/1168/
extract () {
   if [ -f $1 ] ; then
       case $1 in
           *.tar.bz2)   tar xvjf $1    ;;
           *.tar.gz)    tar xvzf $1    ;;
           *.bz2)       bunzip2 $1     ;;
           *.rar)       unrar x $1     ;;
           *.gz)        gunzip $1      ;;
           *.tar)       tar xvf $1     ;;
           *.tbz2)      tar xvjf $1    ;;
           *.tgz)       tar xvzf $1    ;;
           *.zip)       unzip $1       ;;
           *.Z)         uncompress $1  ;;
           *.7z)        7z x $1        ;;
           *)           echo "don't know how to extract '$1'..." ;;
       esac
   else
       echo "'$1' is not a valid file!"
   fi
}

# Get to the top of a git tree
cdp () {
  TEMP_PWD=`pwd`
  while ! [ -d .git ]; do
  cd ..
  done
  OLDPWD=$TEMP_PWD
}

gpl() {
    git add .
    git commit -m "$*"
    git push
}
